body {
    font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    min-width: 1511px
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both
}

header {
    height: 140px
}

.top-nav-box {
    width: 100%;
    height: 40px;
    background-color: #333;
    color: #b0b0b0;
    line-height: 40px;
    font-size: 12px
}

.top-nav-box .top-nav {
    margin: 0 10.55% 0 9.55%
}

.top-nav-box .top-nav a {
    display: inline-block
}

.top-nav-box .top-nav span {
    display: inline-block;
    width: 3.2334px;
    margin: 0 3.6px;
    color: #424242
}

.top-nav-box .top-nav a:hover {
    color: #fff
}

.top-nav-box .top-nav .l-list {
    float: left
}

.top-nav-box .top-nav .l-list .app-box {
    position: relative
}

.top-nav-box .top-nav .l-list .app-box .app {
    background-color: #fff;
    display: block;
    width: 124px;
    height: 0px;
    overflow: hidden;
    position: absolute;
    z-index: 99;
    top: 40px;
    left: -45px;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    transition: height .3s
}

.top-nav-box .top-nav .l-list .app-box .app img {
    margin-top: 20px;
    width: 95px;
    height: 95px
}

.top-nav-box .top-nav .l-list .app-box .app .imtext {
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin-top: -10px
}

.top-nav-box .top-nav .l-list .app-box:hover .app {
    height: 148px
}

.top-nav-box .top-nav .l-list .app-box:hover::before {
    display: block
}

.top-nav-box .top-nav .l-list .app-box::before {
    content: '';
    display: none;
    position: absolute;
    z-index: 999;
    border-style: solid;
    border-color: transparent transparent #fbf7f7 transparent;
    border-width: 8px 8px 8px 8px;
    top: 24px;
    left: 10px
}

.top-nav-box .top-nav .r-list {
    float: right;
    position: relative;
    left: -25px
}

.top-nav-box .top-nav .shopcar-box {
    width: 120px;
    height: 40px;
    float: right;
    text-align: center;
    background-color: #424242;
    position: relative
}

.top-nav-box .top-nav .shopcar-box i {
    font-size: 20px;
    vertical-align: -4px
}

.top-nav-box .top-nav .shopcar-box .shop-box {
    position: relative;
    z-index: 99
}

.top-nav-box .top-nav .shopcar-box .shopcar {
    width: 316px;
    height: 0;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    position: absolute;
    top: 40px;
    left: -197px;
    z-index: 98;
    transition: height .5s
}

.top-nav-box .top-nav .shopcar-box .shopcar p {
    padding-top: 30px;
    text-align: center
}

.top-nav-box .top-nav .shopcar-box:hover .shop-box {
    padding-bottom: .5px;
    background-color: #fff;
    color: coral
}

.top-nav-box .top-nav .shopcar-box:hover .shopcar {
    display: block;
    height: 100px
}

.top-mian {
    height: 100px;
    margin: 0 10.55% 0 9.55%
}

.top-mian .logo-a {
    float: left
}

.top-mian .logo-a .logo {
    width: 80px;
    height: 78px;
    margin: 8px 0 0px 0px
}

.top-mian .logo-a .logo img {
    width: 78px;
    height: 78px;
    margin-left: -10px
}

.top-mian .logo-a:hover img {
    margin-left: -9px
}

.top-mian .main-list {
    height: 100px;
    position: absolute;
    margin-left: 232px;
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif
}

.top-mian .main-list a {
    margin: 0 8.4px;
    font-size: 16px;
    line-height: 100px;
    color: #333
}

.top-mian .main-list a:hover {
    color: #ff6700
}

.top-mian .search {
    width: 296px;
    height: 50px;
    float: right;
    line-height: 100px;
    position: relative;
    left: 15px
}

.top-mian .search input {
    width: 223px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.316);
    padding-left: 20px;
    color: #b0b0b0
}

.top-mian .search span {
    width: 42.4px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.316);
    position: absolute;
    border-radius: 1px;
    border-left: none;
    line-height: 48px;
    text-align: center;
    top: 25.3px
}

.top-mian .search span i {
    font-size: 24px
}

.top-mian .search .search-list {
    display: none;
    width: 242.7px;
    height: 241.5px;
    border: 1px solid #ff6700;
    background-color: #fff;
    border-top: none;
    line-height: 1;
    position: relative;
    top: -25px;
    padding-top: 2px;
    font-size: 12px;
    color: #424242;
    z-index: 9999
}

.top-mian .search .search-list li {
    height: 30px;
    line-height: 30px;
    padding-left: 20px
}

.top-mian .search .search-list li a {
    display: block
}

.top-mian .search .search-list li:hover {
    background-color: rgba(236, 236, 236, 0.371)
}

.top-mian .search #hcolor:hover {
    background-color: #ff6700;
    color: #fff;
    border-color: #ff6700
}

.top-mian .search:hover input,
.top-mian .search:hover span {
    border-color: rgba(2, 2, 2, 0.507)
}

.top-mian .search input:focus {
    border-color: #ff6700
}

.top-mian input:focus~#hcolor {
    border-color: #ff6700
}

.top-mian input:focus~.search-list {
    display: block
}

main {
    width: 1226px;
    height: 460px;
    margin: 0 auto;
    position: relative
}

main .main-list {
    width: 234px;
    height: 460px;
    background-color: #a5a3a3a5;
    color: #fff;
    position: absolute
}

main .main-list li {
    height: 42px;
    line-height: 42px;
    padding-left: 30px
}

main .main-list li i {
    float: right;
    font-size: 35px;
    margin-right: 10px
}

main .main-list :first-child {
    margin-top: 20px
}

main .main-list li:hover {
    background-color: #ff6700
}

main .img {
    width: 1226px;
    height: 460px
}

main .img img {
    height: 460px
}

main .img .l,
main .img .r {
    position: absolute;
    font-size: 41px;
    color: #d6d6d6;
    width: 41px;
    height: 69px;
    top: 40%;
    line-height: 69px;
    border-radius: 2px;
    user-select: none
}

main .img .l {
    left: 233px
}

main .img .r {
    right: 0px
}

main .img .l:hover,
main .img .r:hover {
    background-color: #6a6a6a;
    cursor: pointer
}

main .img .spot-box {
    width: 400px;
    height: 21px;
    position: absolute;
    bottom: 5%;
    right: 2%
}

main .img .spot-box a {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    float: right;
    margin: 5px 5px;
    border: 2px solid #a7a7a7
}

main .img .spot-box a:hover {
    background-color: #dcdcdc;
    border: 2px solid #a7a7a7
}

main .img .spot-box .spot-hover {
    background-color: #dcdcdc;
    border: 2px solid #a7a7a7
}

.main-botton-box {
    width: 1226px;
    height: 170px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between
}

.main-botton-box>div {
    width: 316px;
    height: 170px
}

.main-botton-box>div img {
    height: 100%
}

.main-botton-box .mb1-box {
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    display: flex;
    flex-flow: wrap
}

.main-botton-box .mb1-box li {
    width: 76px;
    height: 84px;
    text-align: center;
    color: rgba(228, 225, 225, 0.733);
    position: relative
}

.main-botton-box .mb1-box li a {
    display: inline-block;
    width: 76px;
    height: 42px
}

.main-botton-box .mb1-box li a img {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 5px
}

.main-botton-box .mb1-box li a span {
    font-size: 13px
}

.main-botton-box .mb1-box li a:hover {
    color: #fff
}

.mb1-box li::before {
    content: '';
    display: block;
    width: 64px;
    height: .5px;
    background-color: #665e57;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0
}

.mb1-box li::after {
    content: '';
    display: block;
    width: .5px;
    height: 70px;
    background-color: #665e57;
    position: absolute;
    top: 0px;
    bottom: 0;
    margin: auto 0
}

.banner {
    width: 1226px;
    height: 120px;
    margin: 0 auto;
    margin-top: 40px
}

.banner img {
    height: 100%
}

/*# sourceMappingURL=./index.css.map */